body {
    background-color: #000814;
    font-family: 'Inconsolata','Ubuntu Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.15em;
  height: 0.25em;
}
::-webkit-scrollbar-track {
  background: #000814;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #991b1b;
}